body {
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    background: url(../pics/background.jpg) no-repeat fixed;
    background-size: cover;
    background-color: #03d7fc;
}

ul {
    list-style-type: none;
}

.header {
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    border: 3px solid black;
    background: linear-gradient(to right, white, #f5dedc);
    border-radius: 20px;
    font-size: 50px;
}

.header > p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.content > p {
    margin: 0;
}

table {
    margin: auto;
}

.menu {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid black;
    background: linear-gradient(to top right, #f7cc86, #eda837);
    border-radius: 20px;
    width: 240px;
    height: 100%;
    font-size: 50px;
    font-family: 'New Century Schoolbook', 'TeX Gyre Schola', serif;
}

.content {
    height: 100%;
    padding: 10px;
    border: 3px solid black;
    background: linear-gradient(to top right, #a3f5a2, #61ab60);
    border-radius: 20px;
    width: 923px;
    font-size: 25px;
    font-family: 'Times new roman';
    position: relative;
}

.content > .bio {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    background-color: #d68bcd;
    border: 3px solid #c827b5;
}

.button {
    text-decoration: none;
    height: 50px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 3px;
    display: block;
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.5s background-color;
}

.button:hover {
    background-color: yellow;
    text-align: center;
    color: black;
    border: 3px solid black;
    height: 46px;
    width: 146px;
}

.user_avatar {
    margin-right: 20px;
    height: 200px;
    width: 200px;
}

audio {
    float: right;
    width: 600px;
    border: 1px solid black;
    border-radius: 100px;
}

.song {
    margin-top: 0;
    border-radius: 100px;
    background: #f7f7f7;
    font-size: 47px;
    font: bold;
    padding: 7px;
    padding-left: 14px;
    border: 1px solid black;
}

.bandphoto {
    max-width: 92%;
    width: 92%;
    margin: 4%;
    margin-bottom: 0%;
}

.user_info {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
    /* justify-content: space-around; */
}

.body {
    display: flex;
    justify-content: space-between;
}